/* color theme: white */
body,
#header,
#header #short-status,
#submenu,
#mainmenu,
#mainmenu li a,
#submenu li a,
#footer,
#save,
#save a,
#save .page-save,
#save .apply,
.progressbar-unfilled {
	color: Black;
	background-color: White;
}

#content h3,
#mainmenu a:hover,
#submenu a:hover,
#mainmenu .selected a,
#submenu .selected a,
#save a:hover,
.progressbar-filled {
	background-color: #CCCCCC;
	color: Black;
}

#content h3.warning {
	color: Black;
	border-color: Black;
}
.odd {	background-color: #eee }
.warning { color: Black; }
