 /* color theme: brown */
 body {
 	background-color: Black;
 }
#header, #header #short-status {
	color: #ccc;
	background-color: #333;
}

a {
	color: White;
}

#mainmenu {
	border-bottom: 1px solid Gray;
}

#submenu,
#mainmenu,
#save .page-save, #footer { background-color: #000; }

#save .apply { background-color: #000; }

#mainmenu a:hover,
#submenu a:hover,
#mainmenu .selected a,
#submenu .selected a,
#save a:hover { background-color: #C3C4D2; color: Black; }

#content {
	background-color: #000;
	color: #ccc;
}
#content h3 {
	color: White;
	background-color: transparent;
}

#content h3.warning {
	color: White;
	border-color: White;
}
.odd {	background-color: #222 }
.warning { color: White; }

.progressbar-filled {
	color: White;
	background-color: #2b1b9f;
}

.progressbar-unfilled {
	color: Black;
	background-color: Black;
}
