 /* color theme: green */
#header, #header #short-status {
	color: #CCCCCC;
	/*background-color: #2B6D21;*/
}
body {
	background: #2B6D21 url(bg.png) no-repeat scroll;
}

#submenu,
#mainmenu,
/*#save .page-save, #footer { background-color: #275820; }*/

/*#save .apply { background-color: #2B6D21; }*/

#mainmenu a:hover,
#submenu a:hover,
#mainmenu .selected a,
#submenu .selected a,
#save a:hover { background-color: #759B7B; }

#content h3 { background-color: #CCCCCC; }

.progressbar-filled {
	color: White;
	background-color: #2b1b9f;
}

.progressbar-unfilled {
	color: Black;
	background-color: Black;
}