/* If you want to edit this file, adhere to these rules:
 *
 * CSS is seperated by layout, font, and color. It might be a little more
 * work, but keeping it grouped like this allows for easier implementation
 * of things like the color switcher.
 *
 * The class/id layout is pretty good, though not perfect. We want the structure
 * to be flexible --- it isn't about the current theme as much as allowing future
 * themes to do whatever without changing anything but the CSS. Do NOT change
 * a bunch of classes and ids in the form code without some discussion with
 * the group.
 *
 */
 
/* ---  Layout  --- */
* { margin: 0; padding: 0; }

html, body {
	height: 100%;
	font: 12pt/1.4em "Myriad Web", "Lucida Grande", "Lucida Sans", Lucida, Verdana, "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
	color: Black;
	background-color: #F2F3EE;
}

a {
	color: Blue;
	text-decoration: none;
}

a:hover { color: Black; }

dd {
	margin-left: 1em;
	margin-bottom: 0.2em;
}

img { border: 0; }

option { padding-right: 1em; }

th { text-align: left; }

ul { list-style-type: none; }

fieldset { border: 0; }

/* Hide irrelevent elements when using CSS */
hr,
#submenu h3,
#short-status h3 { display: none; }

/* ---  Wrapper around everything  --- */
#container {
	width: 90%;
	margin: 0.8em auto;
	border: solid 1px #AAAAAA;
	background-color: White;
}

/* ---  Header  --- */
#header {
	clear: both;
	width: 100%;
	height: 6em;
	background-color: #E3E6DB;
	border-bottom: 1px solid #E2E5DA;
}

#header h1 { display: none; }
#header em { display: none; }
#header img { display: none; }

/* ---  Short-status  --- */
#header #short-status {
	float: right;
	text-align: right;
	margin: 1em 1em;
	width: 15em;
	line-height: 1.0em;
}

#short-status ul {
	white-space: nowrap;
	font-size: 0.58em;
}

/* ---  Navigation  --- */
#mainmenu, #submenu { width: 100%; }

#mainmenu a, #submenu a { color: Black; }

#mainmenu {
	height: 3em;
	line-height: 3em;
	font-size: 0.8em;
	background-color: #D7DBCC;
	border-bottom: solid 2px #C1C3B9;
	border-top: solid 2px #C1C3B9;
}

#mainmenu .separator { width: 2em; }

#mainmenu li {
	float: left;
	list-style-type: none;
	text-align: center;
}

#mainmenu li, #submenu li { white-space: nowrap; }

#mainmenu li a {
	padding: 0 0.7em 0 0.7em;
	display: block;
}

#submenu {
	height: 2em;
	line-height: 2em;
	background-color: #EFF2E6;
	border-top: solid 1px #E0E2D7;
	border-bottom: solid 2px #E0E2D7;
}

#submenu li {
	float: left;
	list-style-type: none;
	text-align: center;
	font-size: 0.6em;
}

#submenu li a {
	padding: 0 0.5em 0 0.5em;
	display: block;
}

/* ---  Color switcher  --- */
#colorswitcher { display: none; }

/* ---  Content  --- */
#content {
	position: relative;
	padding: 0 2% 0 2%;
	font-size: 0.9em;
}

#content a { text-decoration: underline; }

#content h2 {
	font-size: 1.1em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

/* center image and headline vertically */
#content h2 * {
        vertical-align: middle;
}

#content h3 {
	margin-bottom: 0.6em;
	padding: 0.2em;
	border-bottom: 1px solid #DDDDDD;
	font-size: 1em;
}

#content .settings { margin-left: 1%; }

#content .settings .clearfix {
	clear: both;
	margin-bottom: 1em;
}

#content .settings-content {
	position: relative;
	float: left;
	width: 54%;
	margin-left: 2%;
}

#content select, #content input { margin-top: 0.1em; }

/* help area */
#content .settings-help {
	position: relative;
	margin-left: 60%;
	background-color: #F9FAF5;
	padding: 0.5em;
}

#content .settings-help h3 { display: none; }

#content .settings-help h4 {
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 0.2em;
}

#content .settings-help p {
	margin-bottom: 0.6em;
	font-size: 0.7em;
	padding-right: 1em;
}

.more-help {
	margin-right: 10%;
	text-align: right;
}

/* ---  Save buttons  --- */
#save {
	position: relative;
	width: 100%;
	text-align: right;
	z-index: 50;
}

#save legend { display: none; }

#save .page-save {
	margin-right: 1em;
	clear: both;
}

/* apply/clear/review area */
#save .apply {
	margin-top: 1em;
	font-size: 1.1em;
	line-height: 3em;
	border-top: 2px solid #C1C3B9;
	background-color: #F0F3E7;
}

#save .apply li {
	display: inline;
	margin-right: 1em;
}

/* ---  Footer  --- */
#footer {
	position: absolute;
	top: 3em;
	z-index: 0;
	margin-left: 2%;
}

#footer h3 {
	font-weight: lighter;
	font-size: 1.4em;
}

#footer em { font-size: 0.8em; }

/* ---  Page specific styling  --- */
/* Packages page */
.packages {
	font-size: 0.8em;
	text-align: left;
}

.repositories { font-size: 0.6em; }

/* ---  General styling  --- */
.separator { display: block; }

.smalltext {
	display: inline;
	font-size: 0.9em;
	font-weight: lighter;
}

.failed-validation {
	display: inline;
	width: 40%;
	text-align: left;
	font-size: 1.0em;
	font-style: italic;
	color: Red;
}

.warning,
.update-available,
.warning-light {
	color: #9A2C2C;
	display: inline;
}

.odd { background-color: #EDEEE9; }

/* Progressbar */
.progressbar {
	border: 1px solid #55622F;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 0.8em;
}

.progress {
	color: #55622F;
	background-color: #C2D787;
	padding: 0.1em 0 0.1em 0;
	display: block;
	text-align: center;
	text-shadow: 2px 2px 2px #C2D787;
}

.gradualshine {
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
}

.balloonstyle {
	position:absolute;
	top: -500px;
	left: 0;
	padding: 5px;
	visibility: hidden;
	border:1px solid black;
	font:normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	background-color: white;
	width: 200px;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
}

input.flatbtn {
	border: 1px solid #000000;
	font-size:8pt;
}

#scrollBox {
	position: absolute;
	width: 90%;
	margin: 0 auto;
	font-size: 0.7em;
}
#outerscrollBox{
	position: relative;
        width: 50%; /*marquee width */
        height: 20em; /*marquee height */
        overflow: hidden;
        border: 1px solid #ccc;
        padding: 1em;
        margin-top: 1em;
}
#scrollBox h1 {
        font-weight: bold;
        margin-bottom: 1em;
}
#scrollBox h2 { margin: 2em 0 1em; }
#scrollBox h2 em {
        font-weight: normal;
        font-size: 0.9em;
}
#scrollBox ul {
        list-style-type: disc;
        list-style-position: inside;
}
#scrollBox p { margin-bottom: 0.5em; }
#scrollBox li { margin: 0.8em; }

/* styles for dmytro's new wireless survey page. Used in Kamikaze as of 02/08/07. */
TR.wifiscantitle
{
	background-color: #999999;
	font-family: serif;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
TR.wifiscanrow1
{
	font-family: serif;
	font-size:12pt;
	color: #000000;
}
TR.wifiscanrow2
{
	background-color: #E6E6E6;
	font-family: serif;
	font-size:12pt;
	color: #000000;
}