
config transport 'unix'
	option enable '1'
	option path 'alljoyn'
	option abstract '1'

config transport 'ip'
	option enable '1'
	option max_incomplete_conn '16'
	option max_complete_conn '96'
	option bus_port '9955'
	option auth_timeout '20000'
	option advertise_daemon '1'
	option all_networks '0'
	list networks 'lan'

config transport 'slap'
	option enable '0'
	option path '/dev/ttyUSB0'
	option baud 115200
	option databits 8
	option parity 'none'
	option stopbits 1
